Body {
  background-color: #0099cc;
  color: #fff;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  margin: 0;
}

#screen canvas {
  margin: auto;
  display: block;
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}

@font-face {
  font-family: 'gamefont';
  /* تم تعديل المسارات لتقرأ من المجلد الحالي مباشرة */
  src: url('gamefont.eot');
  src: url('gamefont.eot?#iefix') format('embedded-opentype'),
     url('gamefont.woff') format('woff'),
     url('gamefont.ttf') format('truetype'),
     url('gamefont.svg#gamefont') format('svg');
  font-weight: normal;
  font-style: normal;
}
